<div class="bg-white dark:bg-gray-800 dark:text-gray-400 rounded-lg shadow-lg p-5 mx-36 mt-8 pb-16">
  <h2 class="text-2xl font-semibold text-gray-900 dark:text-white text-center mb-10">Agregar Producto</h2>
  <form class="max-w-md mx-auto" [formGroup]="forms" (ngSubmit)="onSubmit()">
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="name" id="name" formControlName="name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nombre</label>
        <div *ngIf="nameInvalid">
          <a class="text-red-500 text-sm font-medium"> Campo "Nombre" Requerido</a>
        </div>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="number" name="price" id="price" formControlName="price" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="price" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Precio</label>
        <div *ngIf="priceInvalid">
          <a class="text-red-500 text-sm font-medium"> Campo "Precio" Requerido</a>
        </div>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="number" name="stock" id="stock" formControlName="stock" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="stock" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Stock</label>
        <div *ngIf="stockInvalid">
          <a class="text-red-500 text-sm font-medium"> Campo "Stock" Requerido</a>
        </div>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <select formControlName="productType" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer">
        <option *ngFor="let type of productTypesNames" [value]="type">{{ type }}</option>
      </select>
      <label for="productType" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Tipo de Producto</label>
      <div *ngIf="productTypeIdInvalid">
        <a class="text-red-500 text-sm font-medium"> Campo "Tipo de Producto" Requerido</a>
      </div>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input type="file" name="image" id="image" (change)="onFileChange($event)" formControlName="image" class="block py-2.5 px-0 w-full text-sm focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
      <label for="image" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Foto</label>
      <div *ngIf="imageInvalid">
        <a class="text-red-500 text-sm font-medium"> Campo "Foto" Requerido</a>
      </div>
    </div>

    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Agregar</button>
  </form>

  <div *ngFor="let error of errorMessage" class="text-red-500 rounded-lg mb-5 flex justify-center items-center">
    <a *ngIf="error" class="text-white text-sm font-medium"> {{error}} </a>
  </div>
</div>

