<nav class="bg-green-400">
<div class="flex items-center justify-between">
  <div class="flex items-start p-4 pl-10">
    <a href="/products" class="block rounded-full">
      <img src="assets/images/logo.jpg" alt="logo" class="h-32 w-32 rounded-full hover:bg-blue-900" />
    </a>
  </div>
  <div *ngIf="!isLogged" class="space-x-4">
    <a href="/auth" (click)="changePage('login')">
      <button class="bg-gray-600 hover:bg-blue-950 text-white font-bold py-2 px-4 rounded-lg">Iniciar Sesión</button>
    </a>
    <a href="/register" (click)="changePage('register')">
      <button class="bg-gray-600 hover:bg-blue-950 text-white font-bold py-2 px-4 rounded-lg">Registrarse</button>
    </a>
  </div>
  <div *ngIf="isLogged" class="flex items-center">
    <div class="flex items-start p-4 pl-10">
      <a href="/edit" class="block rounded-full bg-gray-600 hover:bg-blue-950">
        <img src="assets/images/usuario.png" alt="user" class="h-28 w-28 rounded-full" />
      </a>
    </div>
    <button (click)="logout()" class="bg-gray-600 hover:bg-blue-950 text-white font-bold py-2 px-4 rounded-lg">Cerrar Sesión</button>
  </div>
  <div *ngIf="isAdmin" class="pl-4 space-x-4">
    <a href="/admin/products">
      <button class="bg-gray-600 hover:bg-blue-950 text-white font-bold py-2 px-4 rounded-lg">Administrar Productos</button>
    </a>
    <a href="/admin/users">
      <button class="bg-gray-600 hover:bg-blue-950 text-white font-bold py-2 px-4 rounded-lg">Administrar Usuarios</button>
    </a>
    <a href="/admin/purchases">
      <button class="bg-gray-600 hover:bg-blue-950 text-white font-bold py-2 px-4 rounded-lg">Administrar Compras</button>
    </a>
  </div>
  <div class="ml-auto flex items-center justify-end p-4 pr-10">
    <a href="/cart" class="block rounded-full">
      <img src="assets/images/CarritoCompra.png" alt="cart" class="h-32 w-32 items-center rounded-full bg-gray-600 hover:bg-blue-950" />
    </a>
  </div>
</div>
</nav>
