<div class="p-5 bg-white rounded-lg shadow-lg">
  <h2 class="text-2xl font-bold mb-4">Carrito de Compras</h2>
  <div *ngIf="(cartItems$ | async)?.length === 0" class="text-gray-500">El carrito está vacío.</div>
  <div *ngFor="let item of cartItems$ | async" class="flex justify-between items-center mb-2 p-2 border border-gray-300 rounded-sm">
    <div class="flex flex-col">
      <img class="w-32 h-32 object-cover rounded-t-lg mb-2" [src]="item.imgURL" alt="" />
      <p class="font-semibold">{{ item.name }}</p>
      <p class="text-gray-600">Precio: {{ item.price }}</p>
      <p class="text-gray-600">Cantidad: {{ item.quantity }}</p>
    </div>
    <div class="flex space-x-2">
      <button (click)="increaseQuantity(item.productId)" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">+</button>
      <button (click)="decreaseQuantity(item.productId)" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600">-</button>
      <button (click)="removeItem(item.productId)" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">Eliminar</button>
    </div>
  </div>
  <div class="mt-4 text-right">
    <p class="text-xl font-bold">Total: {{ '$' + totalPrice }}</p>
    <button (click)="checkout()" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 mt-4">Comprar</button>
  </div>
</div>
