@if (toasts().length > 0) {
  <div class="fixed top-5 right-5 z-50 space-y-4">
    @for (toast of toasts(); track toast.id) {
    <div
      class="flex items-center w-full max-w-xs p-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800 transition-all duration-300"
      [class]="getToastClasses(toast.type)"
      role="alert"
    >
      <div
        class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 rounded-lg"
        [class]="getIconBackgroundClass(toast.type)"
      >
        <span [class]="getIconClass(toast.type)"></span>
      </div>
      <div class="ms-3 text-sm font-normal">{{ toast.message }}</div>
    </div>
    }
  </div>
  }
