<div class="flex items-center">
  <form (ngSubmit)="searchQuery()">
    <input type="text" placeholder="Buscar..." class="border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-300"
    [(ngModel)]="searchTerm" name="searchTerm" />
    <button type="submit" class="ml-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Buscar</button>
  </form>
</div>
