<div class="px-32">
  <div class="flex items-center space-x-4">
    <app-search-button (query)="searchQuery($event)"></app-search-button>
    <div class="flex justify-center mt-3">
      <app-page-button action="prev" (clickButton)="changePage($event)"></app-page-button>
      <app-page-button action="next" (clickButton)="changePage($event)"></app-page-button>
    </div>
    <div class="flex-grow"></div>
    <div class="pr-5">
      <app-add-product-button></app-add-product-button>
    </div>
  </div>
  <app-products-list [products]="products"></app-products-list>
</div>
